<div class="top-blog-label">
  <a href="/about/" class="top-label-title">ABOUT</a>
</div>
<div class="about-top-content">
  I'm NODA Hayato J.D. Attorney at Law admitted in Japan. <br>
　弁護士の野田隼人です。
</div>
<center>
  <a href="/about/" class="hover-gray">
    <i class="fas fa-caret-right caret-right"></i>
    <i class="fas fa-caret-right caret-right"></i>
  </a>
</center>
<div class="top-blog-label">
  <a href="/work/" class="top-label-title">WORK</a>
</div>
<center>
  <a href="/work/" class="hover-gray">
    <i class="fas fa-caret-right caret-right"></i>
    <i class="fas fa-caret-right caret-right"></i>
  </a>
</center>
